.header{
    margin-top: 60px;
    .headerImage{
        width: 100%;
        height: 100vh;
        margin-top: 80px;
        object-fit: cover;
    }
    .headerTitles{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
        color: #444;
        .headerTitleSmall{
            position: absolute;
            top:18%;
        }
        .headerTitleLarge{
            position: absolute;
            top: 10%;
            font-size: 100px;
            
        }
    }
}